html, body, #elmish-app {
    width: 100vw;
    height: 100vh;
}


.navbar-offset-padding {
    padding-top: 60px;
}

.message-area {
    padding: 3px;
    height: 75px;
}

textarea {
    width: 100%;
}

.button-row {
    overflow-x: auto;
    white-space: nowrap;
}

#toggleMessageArea {
    font-size: 0.75rem;
}

#toggleMessageArea:hover {
    background-color: darkslateblue;
    color: gainsboro;
}

@media (min-width: 768px) {
    .mb-md-4 {
        margin-bottom:1.5rem!important;
    }
}

@media (max-width: 768px) {
    #txtTransitionTable {
        font-size: 0.85rem;
    }
}